.logo {
    height: 45px !important; 
    width: auto;
    margin-top: 10px;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
}

#topo {
    background-image: url('../img/bg-topo3.jpg');
    background-size: cover;
    background-position-x: center;
    height: 500px;
    width: auto;
}

.menu {
    position: fixed;
    padding-bottom: 15px;
    z-index: 99999;
}

.img-home {
    height: 300px;
    width: auto;
    margin-top: 150px;
}

.call-topo {
    color: white;
    text-shadow: 1px 1px 15px #000;
    margin-top: 50px;
    text-align: right;
    background-color: rgba(0, 120, 1796, 0.4);
    height: 450px;
}

.nome {
    color: #0078B0;
}

.historia {
    color: #0078B0;
}

.vermais {
    height: 35px;
    width: auto;
    margin-top: 0px;
}

.origem-1{
    height: 300px;
    width: auto;
    margin-top: 50px;
}

.fundoazul {
    background-color: #0078B0;
    color: white;
    padding:15px;
}

.origem-2{
    height: 350px;
    width: auto;
    margin-top: 15px;
}


.time{
    margin-top: 20px;
    color: white;
}

.contato-img {
    height: 320px;
    width: auto;
    margin-top: 50px;
}

.foto {
    height: 180px;
    width: auto;
}

.txt-servico{
    color: white;
    font-size: 18px;
}

.btn-enviar {
    background-color: white;
    color: #0078B0;
    border-radius: 0 0 15px 0;
}

.btn-enviar:hover {
    background-color: #0078B0;
    color: white;
    border-radius: 0 0 15px 0;
}

/* label color */
.input-field label {
    color: white !important;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: white  !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
  }


  @media only screen and (max-width: 600px) {
    h2 {
        font-size: 32px;
    }

    .img-home {
        height: 100px;
        width: auto;
    }
}


@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1566 {
  position: relative;
  display: inline-block;
  max-width: 350px;
  color: #bbb;
  font-size: 16px;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  
}

.snip1566 *,
.snip1566:before,
.snip1566:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* .snip1566:before,
.snip1566:after {
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border: 2px solid #bbb;
  border-color: transparent #bbb;
} */

.snip1566 img {
  max-width: 100%;
	backface-visibility: hidden;
  vertical-align: top;
  padding: 10px;
}

.snip1566 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.snip1566 i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4em;
  z-index: 1;
}

.snip1566 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1566:hover figcaption,
.snip1566.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.snip1566:hover:before,
.snip1566.hover:before,
.snip1566:hover:after,
.snip1566.hover:after {
  border-width: 10px;
}

.snip1566:hover:before,
.snip1566.hover:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.snip1566:hover:after,
.snip1566.hover:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

figure {
margin-inline-end: 0;
border-width: 2px;
border-style: solid;
border-color: white;
margin-right: 0px;
}

.solucoes {
    background-image: url('../img/solucoes.jpg');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    height: 400px;
    width: 250px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.descricao {
    color: white;
    font-weight: 300;
}

.port-txt {
    color: white;
}

.desenv {
    background-image: url('../img/desenv.jpg');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    height: 400px;
    width: 250px;
}

.suport {
    background-image: url('../img/suport.jpg');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    height: 400px;
    width: 250px;
}

.rpa {
    background-image: url('../img/rpa.jpg');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    height: 400px;
    width: 250px;
}

.seguranca {
    background-image: url('../img/seguranca.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 250px;
}

.infra {
    background-image: url('../img/ia.png');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: 400px;
    width: 250px;
}

.citacao {
    color: #0078B0;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

.tags {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
}

.tags1 {
    background-image: url('../img/servicos.png');
    color: white;
    font-weight: 500;
}

.tags2 {
    background-image: url('../img/metodologia.png');
    color: white;
    font-weight: 500;
}

@media only screen and (max-width: 500px) {
 .solucoes {
     height: 250px;
 
 }
 
 .desenv {
     height: 250px;
 
 }
 
 .suport {
     height: 250px;
 }
 
 .rpa {
     height: 250px;
 
 }
 
 .seguranca {
     height: 250px;
 }
 
 .infra {
     height: 250px;
 
 }
